{% extends "food/base.html" %}
{% block content %}
	<div class = "ui container segment">
		<h1>Add Food Item</h1>
		<form class = "ui form" method="POST">
			{% csrf_token %}
			<div class = "field">
                <label>Name</label>
                <input type = "text" name='name' {% if food %} value = "{{food.name}}" {% endif %}>
            </div>
            <div class = "field">
                <label>Price</label>
                <input type = "float" name='price' {% if food %} value = "{{food.price}}" {% endif %}>
            </div>
            <button class="ui button" type="submit">Submit</button>
		</form>
	</div>
{% endblock %}