{% extends "food/base.html" %}
{% block content %}
    <div class = "ui segment">
        <div class = "row">
            <h1>{{est.name}}</h1>
            <h4 style="border-color: gold">{{est.rating}}</h4>
            <h4 style="border-color: red">{{est.favorites}} Favorites</h4>
            <div class = "ui button" style="border-color: red"><i class = "heart icon"></i>Favorite</div>
            <div class = "ui button" style="border-color: gold"><i class = "star icon"></i>Rate</div>
        </div>
        <br>
        <h3>{{est.desc}}</h3>
        <br>
        <h4>Located at: {{loc}}</h4>
        <br>
        <h2>Menu
            <a href="{% url 'addfooditem' est_id=est.id%}">
            <button class="ui button">
                 <i class="plus icon"></i>
                   Add   
            </button>
            </a>
        </h2>
        <div class = "container">
            <div class = "ui two column divided grid">
                <div class = "two wide column">
                    <h3>Food Item</h3>
                    {% if fooditems %}
                        {% for item in fooditems%}
                            <p>{{ item.name }}</p>
                            <br>
                        {% endfor %}
                    {% else %}
                        <p> No Items Sold</p>
                    {% endif %}
                </div>
                <div class = "column">
                    <h3>Price</h3>
                    {% if fooditems %}
                        {% for item in fooditems%}
                            <p>{{ item.price }}</p>
                            <br>
                        {% endfor %}
                    {% else %}
                    {% endif %}
                </div>
            </div>
        </div>
{% endblock %}