{% extends "food/base.html" %}

{% block content %}
    <h1>Food Establishments Around UP</h1>
    <div class = "ui segments">
        {% if est_list %}
            {% for est in est_list %}
                <a href="{% url 'establishment' est_id=est.id %}" style="color:inherit; text-decoration: none">
                    <div class="ui segment">
                        <h3 style = "margin: 0; padding: 0">{{ est.name }}</h3>
                        <h4>{{ est.desc }}</h4>
                        <h5>{{ est.rating }}</h5>
                    </div>
                </a>
            {% endfor %}
        {% else %}
            <div class="ui segment">
                <p>No announcements</p>
            </div>
        {% endif %}
    </div>
{% endblock %}
