<!DOCTYPE html>

<!-- This is the page to view the details of a specific establishment from the home page-->
<head>
    <!--{% load static %}-->
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.js"></script>
</head>

<body>
    <div class = "ui large menu" style = "background-color: #cc0000">
        <a class = "item" style = "color: #ffffff"><i class = "utensils icon"></i>FooBu</a>
        <div class = "right menu">
            <a class = "item" style = "color: #ffffff"><i class = "user icon"></i>My Profile</a>
        </div>
    </div>
    <div class = "ui segment">
        <div class = "row">
            <h1>{{est.name}}</h1>
            <h4 style="border-color: gold">{{est.rating}}</h4>
            <h4 style="border-color: red">{{est.favorites}} Favorites</h4>
            <div class = "ui button" style="border-color: red"><i class = "heart icon"></i>Favorite</div>
            <div class = "ui button" style="border-color: gold"><i class = "star icon"></i>Rate</div>
        </div>
        <br>
        <h3>{{est.desc}}</h3>
        <br>
        <h4>Located at: {{est.location}}</h4>
        <br>
        <h2>Menu</h2>
        <div class = "container">
            <div class = "two columns">
                <div class = "column">
                    <h3>Food Item</h3>
                    {% if fooditems %}
                        {% for item in fooditems%}
                            <p>{{ item.name }}</p>
                            <br>
                        {% endfor %}
                    {% else %}
                        <p> No Items Sold</p>
                    {% endif %}
                </div>
                <div class = "column">
                    <h3>Food Item</h3>
                    {% if fooditems %}
                        {% for item in fooditems%}
                            <p>{{ item.price }}</p>
                            <br>
                        {% endfor %}
                    {% else %}
                    {% endif %}
                </div>
            </div>
        </div>


</body>