<!DOCTYPE html>

<!-- This is the homepage where a list of establishments can be seen-->
<head>
    <!--{% load static %}-->
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.js"></script>
</head>

<body>
    <div class = "ui large menu" style = "background-color: #cc0000">
        <a class = "item" style = "color: #ffffff"><i class = "utensils icon"></i>FooBu</a>
        <div class = "right menu">
            <a class = "item" style = "color: #ffffff"><i class = "user icon"></i>My Profile</a>
        </div>
    </div>
    <br>
    <h1>Food Establishments Around UP</h1>
    <div class = "ui segments">
        {% if est_list %}
            {% for est in est_list %}
                <a href="announcement/scholarship_post/{{ post.id }}" style="color:inherit; text-decoration: none">
                    <div class="ui segment">
                        <h3 style = "margin: 0; padding: 0">{{ est.name }}</h3>
                        <h4>{{ est.desc }}</h4>
                        <h5>{{ est.rating }}</h5>
                    </div>
                </a>
            {% endfor %}
        {% else %}
            <div class="ui segment">
                <p>No announcements</p>
            </div>
        {% endif %}
    </div>
</body>