{% extends "food/base.html" %}
{% block content %}
    <div class = "ui segment">
        <div class = "row">
            <h1>{{est.name}}</h1>
            {% if not owner%}
                <h4 style="border-color: gold">Rating: {{rate}}</h4>
                <h4 style="border-color: red">Number of Favorites: {{favorite}}</h4>
                {% if not faved %}
                    <a class = "ui red basic button" href="{% url 'favorite' est_id=est.id %}"><i class = "heart icon"></i>Add to Favorites</a>
                {% else %}
                    <a class = "ui red button" href="{% url 'favorite' est_id=est.id %}"><i class = "heart icon"></i>Favorite</a>
                {% endif %}
                {% if not rated %}
                    <a class = "ui yellow basic button" href="{% url 'addrating' est_id=est.id %}"><i class = "star icon"></i>Rate</a>
                {% else %}
                    <a class = "ui yellow button" href="{% url 'updaterating' est_id=est.id %}"><i class = "edit icon"></i>Change Rating</a>
                    <a class = "ui yellow button" href="{% url 'deleterating' est_id=est.id %}"><i class = "delete icon"></i>Delete Rating</a>
                {% endif %}

            {% endif %}
            
        </div>
        <br>
        <h3>Description: {{est.desc}}</h3>
        <br>
        <h4>Located at: {{loc}}</h4>
        <br>
        <h2>Menu
            {% if owner and owns %}
                <a href="{% url 'addfooditem' est_id=est.id%}">
                <button class="ui button">
                     <i class="plus icon"></i>
                       Add   
                </button>
                </a>
            {% endif %}
        </h2>
        <div class = "container">
            <div class = "ui two column divided grid">
                <div class = "two wide column">
                    <h3>Food Item</h3>
                    {% if fooditems %}
                        {% for item in fooditems%}
                            <p>{{ item.name }}</p>
                            <pre><br></pre>
                        {% endfor %}
                    {% else %}
                        <p> No Items Sold</p>
                    {% endif %}
                </div>
                <div class = "two wide column">
                    <h3>Price</h3>
                    {% if fooditems %}
                        {% for item in fooditems%}
                            {{ item.price }}
                            {% if owner and owns %}
                                <div class="right floated ui small  basic icon buttons">
                                    <a href="{% url 'updatefooditem' est_id=est.id food_id=item.id %}">
                                        <button class = "mini ui button"> <i class="edit icon"></i> </button>
                                    </a>
                                    <a href="{% url 'deletefooditem' est_id=est.id food_id=item.id %}">
                                        <button class = "mini ui button"> <i class="trash alternate icon"></i> </button>
                                    </a>
                                </div>
                            {% endif %}
                            <pre><br></pre>
                        {% endfor %}
                    {% else %}
                    {% endif %}
                </div>
            </div>
        </div>
{% endblock %}